.accordianContiner{
    width: 400px;
    border: 1px solid red;
    
}
.flex{
    display: flex;
}

.accordianContiner button{
    border: none;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s;
}
button:hover{
    background-color: red;
    color: rgb(255, 255, 255);
}